{% extends 'base.html' %}


{% block content %}

<h2>Welcome!</h2>

<p>This is a project template for creating an applications using Django.</p>

<p>What you get!</p>
<ul>
    <li>HTML5 Boilerplate - optimized boilerplate template</li>
    <li>Normalize - base css reset</li>
    <li>Bootstrap - base ui design framework</li>
    <li>LessCSS - css preprocessor</li>
    <li>jQuery - javascript </li>
    <li>Handlebars - mustache style templating</li>
    <li>Django - python web development framework</li>
    <li>Django Mobility - server-side device detection</li>
    <li>Django Compressor - server-side static file minification and compression</li>
</ul>

<p>Guiding principles</p>
<ul>
    <li>Mobile-first RESS (via Django Mobility)</li>
    <li>Django templates</li>
    <li>Django hybrid templates using Ajax (via Handlebars)</li>
</ul>

{% endblock %}